<nav class="mb-3 fixed-top navbar navbar-expand-lg navbar-dark bg-dark text-light d-flex justify-content-between"
  style="border-bottom: 0.2px solid rgb(107, 107, 107);">
  <div class="container">
    <a class="navbar-brand mx-4"> <img style="width: 30px;" src="/images/burger.svg"> ساندویچ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">خانه</a>
        </li>

      </ul>
    </div>

    <% if (req.session.user) {%>

      <div class="dropdown">
        <a class="btn text-light dropdown-toggle" style="outline: 0;" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img style="border-radius: 50%;"
            onerror="this.src = 'https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png';"
            src=<%=req.session.user.avatarURL%> width="26" height="26" class="d-inline-block align-top" alt="">
          <%=req.session.user.username%>
        </a>
        <div class="dropdown-menu bg-dark shadow" aria-labelledby="dropdownMenuButton">
          <h6 class="dropdown-header">داشبورد</h6>
          <a class="c_dropdown text-light"  href="/guilds">سرورها</a>
          <div class="dropdown-divider"></div>
          <a class="c_dropdown text-danger" href="/auth/logout">خروج</a>
        </div>
      </div>
      <% } else { %>
        <a type="button" href="/auth" style="background: #5764F3;" class="mx-4 btn text-light"> ورود </a>
        <% } %>
  </div>
</nav>