<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <title>ساندویچ</title>
    <%- include('./partials/head.ejs') %>
        <style>
            .irHipV {
                display: flex;
                flex-direction: column;
                -webkit-box-align: center;
                align-items: center;
                max-width: 800px;
                padding: 20px 0px;
                margin: auto;
            }

            h1 {
                color: rgb(242, 244, 251);
                text-transform: none;
                padding: 20px 0px 10px;
                font-size: 20px;
                font-weight: 600;
            }

            .beZnUx {
                display: flex;
                flex: 1 1 0%;
                flex-direction: column;
                padding: 0px 0.5em;
                align-self: stretch;
            }

            .kenDYb {
                display: flex;
                flex: 1 1 0%;
                height: 60px;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                padding: 1em;
                border-radius: 5px;
                cursor: pointer;
            }

            .cwsXhQ {
                display: flex;
                flex-flow: row wrap;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: start;
                justify-content: flex-start;
                margin-inline-start: -20px;
                margin-bottom: -20px;
            }


            .gRGJVh {
                white-space: nowrap;
                user-select: none;
                line-height: 1;
                font-weight: 400;
                display: flex;
                border-radius: 3px;
                font-size: 13px;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
                padding: 10px 25px;
                transition: border 180ms ease-out 0s, background 180ms ease-out 0s;
                color: rgb(255, 255, 255);
                background: rgb(68, 71, 76);
                border: none;
                cursor: pointer;
                min-height: 32px;
                min-width: 60px;
                width: unset;
            }


        


            .kenDYb {
                display: flex;
                flex: 1 1 0%;
                height: 60px;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                padding: 1em;
                border-radius: 5px;
                cursor: pointer;
            }

            .cwsXhQ > * {
    margin-inline-start: 20px;
    margin-bottom: 20px;
}

.dBULRY {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    flex-shrink: 0;
}
        </style>
</head>

<body class="bg-dark text-light">
    <%- include('./partials/navbar.ejs') %>

        <div class="xnzm8l-0 irHipV mt-5">
            <h1 class="xnzm8l-1 jBOeIY">لطفا سرور خود را انتخاب کنید</h1>
            <main class="xnzm8l-4 beZnUx">
                <% for(var i in req.session.guilds){%>
                    <%if((req.session.guilds[i].permissions & 0x00000020)==0x00000020){%>
                            <%if(!bot.guilds.cache.get(req.session.guilds[i].id)){ %>
                                <div class="xnzm8l-2 kenDYb">
                                    <div class="sc-6rly6x-1 sc-6rly6x-2 dNbMwg cwsXhQ">
                                        <img class="sc-1epwdr8-0 dBULRY" 
                                        onerror="this.src = 'https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png';"

                                        src="https://cdn.discordapp.com/icons/<%=req.session.guilds[i].id%>/<%=req.session.guilds[i].icon%>.png"
                                        size="40" radius="25" >
                                      <span class="xnzm8l-3 louAre"><%=req.session.guilds[i].name%></span>
                                    </div>
                                    <a class="btn btn-secondary btn-md " 

                                    href="https://discord.com/api/oauth2/authorize?client_id=851178352643014698&permissions=8&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fguilds&scope=bot&guild_id=<%=req.session.guilds[i].id%>">
                                     اضافه کرد ربات به سرور
                                    </a>
                                  </div>
                            <%}else{%>

                                <div class="xnzm8l-2 kenDYb">
                                    <div class="sc-6rly6x-1 sc-6rly6x-2 dNbMwg cwsXhQ">
                                        <img class="sc-1epwdr8-0 dBULRY" 
                                        onerror="this.src = 'https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png';"

                                        src="https://cdn.discordapp.com/icons/<%=req.session.guilds[i].id%>/<%=req.session.guilds[i].icon%>.png"
                                        size="40" radius="25" >
                                      <span class="xnzm8l-3 louAre"><%=req.session.guilds[i].name%></span>
                                    </div>
                                    <a class="btn btn-success btn-md" href="/guild/<%=req.session.guilds[i].id%>" >
                                    مدریت سرور
                                    </a>
                                  </div>
                            <%}%>
                    <%}%>
                <%}%>


            </main>
        </div>



</body>

</html>