<!doctype html>
<html lang="ar" dir="rtl">
<head>
    <title>ساندویچ</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
 

    <main class="bg-dark text-light p-5">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="images/Hamburger.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">ساندویچ بات</h1>
                <p class="lead">یک بات فان و سرگرم کننده برای شما کاربران گرامی
                    با قابلیت های فان , مدیریتی , و کلی قابلیتهای دیگه
                    اگه میخوای تو سرورن سرگرم باشی بات مارو اددکن و سروری متفاوت ایجاد کن</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
               <% if (!req.session.user) { %>
                  <a type="button" href="/auth" style="background-color: #5764F3; box-shadow: 0 4px 14px 0 rgb(86 100 242 / 39%);" class="btn text-light btn-lg px-4 me-md-2"> ورود <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg></a>
                <% } %> 
                </div>
              </div>
            </div>
          </div>
    </main>



    <!-- ویژگی ها  -->

    <section class="bg-dark text-light">
        <div class="container px-4 py-5" id="icon-grid">
            <h2 class="pb-2" >ویژگی ها </h2>
            <div style="border-bottom: 0.2px solid rgb(107, 107, 107);"></div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
              <div class="col d-flex align-items-start">
                    <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
                        <path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z"/>
                        <path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z"/>
                        <path d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"/>
                      </svg>

                <div>
                  <h4 class="fw-bold mb-0">سرعت بالا</h4>
                  <p>استفاده از سرور مجازی اختصاصی هنتز المان</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
                <div>
                  <h4 class="fw-bold mb-0">خوش امد گویی اختصاصی</h4>
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
                <div>
                  <h4 class="fw-bold mb-0">Featured title</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
                <div>
                  <h4 class="fw-bold mb-0">Featured title</h4>
                  <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
              </div>
            </div>
          </div>
    </section>

</body>
</html>